<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timeblocker</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <!-- Vue.js development version-->
    <script src="lib/vue.js"></script>
    <!-- Vue.js production version-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  </head>
  <body>
    <div class='header'>
      <h1>TIMEBLOCKER</h1>
    </div>
    <div class='sidenav'>
      <!-- List the hours in the sidebar -->
      <div id='hours_list'>
        <ul v-for='hour in hours'>{{ hour }}</ul>
      </div>
    </div>
    <div class="main">  
      <div id='create_block'>
        <form v-on:submit='create_block'>
          <label for='block_name'>Start a block!</label>
          <br>
          <input type='text' id='block_name' placeholder="Create a block" required ></input>
          <input type='time' id='block_time_start' placeholder="Specify a start"></input>
          <input type='time' id='block_time_end' placeholder="Specify an end time"></input>
          <br>
          <input type='submit' placeholder='Create Block'></input>
        </form>
      </div>
      <hr>
      <div id="block_list">
        <!-- Show block's info when clicked on -->
        <li v-for="block in blocks" v-on:click="show_block($event, blocks[blocks.indexOf(block)])">
          {{ block }}
        </li>
      </div>
    </div>
    <div id='footer'>
      <footer>{{ current_time }}</footer>
    </div>
  </body>
  <!-- Keep the renderer script tag down here -->
  <!-- or it won't recognize HTML elements when using Vue.js modules -->
  <script src="renderer.js"></script>
</html>
